{% extends 'news/base.html' %}
{% load static %}
{% block content %}
{% block title %}Mahalliy xabarlar{% endblock title %}
    {% for news in mahalliy_yangiliklar %}
<div class="latest__news-text">
    <div class="news__item is_photo clickable-block">
        <div class="media-info">
            <div class="media is_left">
                <a href="{{news.get_absolute_url}}"><img src="{{news.image.url}}" width="150" height="100" alt=""></a>
            </div><!-- End of media-->

            <div class="info">
                <p class="news__item-meta"><i class="icon clock-icon is_smaller"></i>
                    {{news.publish_time}} </p>

                <p class="news__item-title">
                    <a data-pjax="0" href="{{news.get_absolute_url}}">
                       {{news.title}}                    </a>
                </p>
            </div><!-- End of info-->
        </div><!-- End of media-info-->
    </div><!-- End of news__item-->
</div>
    {% endfor %}
{% endblock content %}